@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clean {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-transition-duration: none;
          transition-duration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуление*/
/* Шрифт*/
/* Цвет*/
/* Размер шрифта*/
body {
  font-family: "Lato", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  z-index: 2;
}

.container {
  max-width: 1413px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 24px;
}

.header__body .menu_list a {
  font-size: 20px;
  text-decoration: none;
  color: #292929;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.header__body .menu_list li:nth-child(1) {
  margin-right: 35px;
}

.header__body .menu_list li:nth-child(2) {
  margin-right: 35px;
}

.header__body .menu_list li:nth-child(3) {
  margin-right: 35px;
}

.header__body .menu_list a:hover {
  color: #01996D;
}

.header__body .column_logo {
  position: relative;
  z-index: 3;
  padding-left: 35px;
}

.header__body .column_logo img {
  max-width: 100%;
}

.column_office {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  position: relative;
  z-index: 2;
}

.column_office a {
  text-decoration: none;
  color: #292929;
}

.column_office .office {
  margin-right: 25px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.column_office .office:hover {
  color: #01996D;
}

.column_office .btn {
  background-color: #01996D;
  color: #FFFF;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 6px;
  margin-left: 7px;
  -webkit-transition: .1s linear, color .1s linear;
  transition: .1s linear, color .1s linear;
}

.column_office .btn:hover {
  color: #01996D;
  background-color: #ffff;
}

.header__burger {
  display: none;
}

.office_menu {
  display: none;
}

.btn_menu {
  display: none;
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 70px;
  }
  .header__body .menu_list {
    display: block;
    padding-left: 42px;
    padding-top: 40px;
  }
  .header__body .menu_list a {
    font-size: 18px;
    color: #484848;
    font-weight: 700;
    -webkit-transition: .1s linear, color .1s linear;
    transition: .1s linear, color .1s linear;
  }
  .header__body .menu_list a:hover {
    color: #01996D;
  }
  .header__body .menu_list li:nth-child(1) {
    margin-bottom: 35px;
  }
  .header__body .menu_list li:nth-child(2) {
    margin-bottom: 35px;
  }
  .header__body .menu_list li:nth-child(3) {
    margin-bottom: 35px;
  }
  .column_menu {
    padding-right: 35px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #01996D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #01996D;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffff;
    padding: 70px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
  .column_office {
    display: none;
  }
  .office_menu {
    display: inline-block;
    padding-top: 35px;
    height: 100%;
  }
  .btn_menu {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 80px;
    height: 100%;
    background-color: #01996D;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 6px;
    -webkit-transition: .1s linear, color .1s linear;
    transition: .1s linear, color .1s linear;
  }
  .btn_menu:hover {
    background-color: #ffff;
  }
  .menu_list li {
    font-size: 24px;
  }
}

.bg {
  background: url(../img/BG.png);
  height: 100vh;
  margin: 0 auto;
  padding: 30px 35px 37px;
  background-position: center center;
  background-size: cover;
  color: #292929;
  font-size: 20px;
}

.wrapper_title {
  max-width: 1413px;
  margin: 0 auto;
  padding-top: 175px;
}

.title {
  font-size: 65px;
  font-weight: 900;
  line-height: 74px;
  color: #01996D;
}

.text_title {
  margin: 50px 0;
  color: #292929;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
}

.btn_title {
  background-color: #01996D;
  color: #ffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 46px;
  border-radius: 6px;
  -webkit-transition: .1s linear, color .1s linear;
  transition: .1s linear, color .1s linear;
}

.btn_title:hover {
  color: #01996D;
  background-color: #ffff;
}

@media (max-width: 500px) {
  .title {
    font-size: 25px;
    line-height: 35px;
  }
  .text_title {
    font-size: 12px;
    line-height: 15px;
  }
  .btn_title {
    font-size: 10px;
    padding: 16px 22px;
  }
}

.section {
  max-width: 1413px;
  margin: 0 auto;
  padding: 90px 35px 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: #484848;
}

.section .row_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 185px;
}

.section .column_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-right: 10px;
}

.section .column_right {
  padding-top: 46px;
  white-space: normal;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .section .row_column {
    display: block;
    font-size: 23px;
  }
}

.section .chapter {
  font-size: 24px;
  font-weight: 600;
}

.section .sub_title {
  font-weight: 900;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

@media (max-width: 500px) {
  .section .chapter {
    font-size: 12px;
  }
  .section .sub_title {
    font-size: 25px;
  }
  .section .row_column {
    font-size: 12px;
  }
}

.colunms .columns_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colunms .columns_row :nth-child(2) {
  padding-right: 30px;
}

.colunms .columns_row :nth-child(1) {
  padding-right: 20px;
}

.colunms .colunms_title {
  max-width: 441px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.colunms__title {
  position: relative;
}

.colunms img {
  position: absolute;
  overflow: hidden;
}

.colunms .pic_one {
  overflow: hidden;
  top: 0;
  left: 0;
  position: relative;
  margin-top: 65px;
}

.colunms h2 {
  padding: 0px 0px 70px 0px;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  color: #000000;
  font-weight: bold;
  line-height: 150%;
  padding-top: 45px;
}

.colunms .column_two {
  padding: 286px 0px 0px;
}

.colunms .text_column_two {
  padding-bottom: 47px;
}

.colunms .column_free {
  padding-top: 62px;
}

.colunms .text_column_free {
  padding-bottom: 58px;
}

.colunms .pic_one {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  position: relative;
}

.colunms .pic_two {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  position: relative;
}

.colunms .pic_free {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .colunms .columns_row {
    display: block;
  }
  .colunms .colunms_title {
    margin: 0 auto;
    font-size: 23px;
  }
  .colunms .column_two {
    padding-top: 100px;
  }
}

@media (max-width: 500px) {
  .colunms .colunms_title {
    font-size: 12px;
  }
}

.wrapper_bg {
  background-color: #245852;
  max-width: 100%;
  height: 992px;
  padding: 0px 35px;
}

.wrapper_bg .section_main {
  max-width: 1450px;
  margin: 0 auto;
}

.wrapper_bg .columns_main {
  color: #ffff;
}

.wrapper_bg .title_main {
  font-size: 50px;
  line-height: 157%;
  font-weight: bold;
  padding: 330px 0px 57px 0px;
}

.wrapper_bg .main_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.wrapper_bg .subtitle_main {
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
  padding: 0px 0px 67px 0px;
}

.wrapper_bg .img_video {
  max-width: 100%;
  overflow: hidden;
  padding: 314px 0px 0px 30px;
}

.section_card {
  padding: 120px 55px;
  font-family: "Lato", sans-serif;
}

.section_card .block_card {
  max-width: 1370px;
  margin: 0 auto;
}

.section_card .block_card_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_card .card_images {
  max-width: 100%;
}

.section_card .card_info {
  padding-left: 100px;
}

.section_card .card_info .card_h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 157%;
  padding-bottom: 40px;
}

.section_card .card_info .card_title {
  font-weight: 900;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
  padding-bottom: 49px;
}

.section_card .card_info .card_content {
  font-weight: normal;
  font-size: 20px;
  line-height: 144.5%;
  color: #484848;
  padding-bottom: 40px;
}

@media (max-width: 992px) {
  .wrapper_bg {
    height: auto;
  }
  .wrapper_bg .main_row {
    display: block;
  }
  .wrapper_bg .title_main {
    padding: 35px 0px 0px 0px;
  }
  .wrapper_bg .img_video {
    padding: 50px 0px 0px 0px;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .wrapper_bg .title_main {
    font-size: 25px;
  }
  .wrapper_bg .btn_title {
    padding: 14px 16px;
  }
  .wrapper_bg .btn_title {
    padding: 10px 7px;
  }
  .wrapper_bg .subtitle_main {
    padding: 0px 0px 25px 0px;
  }
}

.footer_bg {
  background-color: #245852;
  max-width: 100%;
  height: 654px;
  padding: 0px 80px;
}

.footer_bg .footer {
  margin: 0 auto;
  max-width: 1370px;
  padding: 100px 0 0 0;
}

.footer_bg .nav_footer {
  padding: 74px 0px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.footer_bg .nav_link {
  text-decoration: none;
  color: #ffff;
  margin-top: 65px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.footer_bg .nav_link .link {
  padding-top: 50px;
}

.footer_bg .nav_link {
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.footer_bg .nav_link:hover {
  color: #01996D;
}

.footer_bg .menu_list_footer {
  display: inline-block;
}

@media (max-width: 992px) {
  .section_card .block_card_row {
    display: block;
  }
}

@media (max-width: 500px) {
  .section_card {
    padding: 20px 35px;
  }
  .section_card .card_info {
    padding-left: 0;
  }
  .section_card .card_info .card_h3 {
    font-size: 12px;
  }
  .section_card .card_info .card_title {
    font-size: 25px;
  }
  .section_card .card_info .card_content {
    font-size: 12px;
  }
  .btn_title {
    font-size: 10px;
    padding: 10px 7px;
  }
  .logo_footer img {
    width: 40%;
  }
  .footer_bg {
    height: 100%;
    padding-bottom: 30px;
  }
  .footer_bg .nav_footer {
    font-size: 14px;
    padding: 0px 0px;
  }
}
/*# sourceMappingURL=style.css.map */